In [21]:
import pandas as pd
import numpy as np

In [22]:
data = data = pd.read_fwf("D:\Study\SEM-IX\ML\Practical\Internal\Files\housing.txt")
data.head()

,0.00632,18.00,2.310,0,0.5380,6.5750,65.20,4.0900,1,296.0,15.30 396.90,4.98,24.00
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.80 396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.80 392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.70 394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.70 396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.70 394.12,5.21,28.7

In [23]:
x = data.iloc[:,0:10].values

In [24]:
y = data.iloc[:,12].values

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [26]:
from sklearn.linear_model import LinearRegression
multi_reg = LinearRegression()
multi_reg.fit(x_train,y_train)

LinearRegression()

In [29]:
y_pred = multi_reg.predict(x_test)
y_pred

array([16.52053304, 19.94302233, 20.9077902 , 26.30035247, 24.11932571,
       20.14813036,  4.44962959, 18.50765651, 25.10112971, 26.09180256,
       22.08893731, 18.73163501, 22.07890619, 20.17044634, 19.29178431,
       20.95322152, 22.44126211, 25.47189009, 33.35390165, 20.2187971 ,
       19.64731445, 19.36963546, 14.7578408 , 20.96240584, 23.4322813 ,
       23.30838716, 20.1373584 ,  3.25270911, 27.59081595, 29.20454804,
       21.80897551,  8.77059943, 20.38910758, 40.69421127, 28.32436115,
       25.13674087,  9.68672429, 21.52437834, 32.58197718, 18.83735798,
       28.97789045, 13.99825113, 22.31101527, 37.826567  , 19.56736837,
       20.33934808, 23.81510384, 37.32778007, 18.5623209 , 23.51399082,
       25.41864895, 38.75554661, 20.87741706, 21.73402738, 26.04357672,
       18.47280469, 24.51195266, 21.95321934, 21.52448701, 29.17044705,
        4.19432144, 36.96621937, 33.32700237, 24.60568796, 22.88410404,
       26.7935918 , 19.79168745, 19.56737819, 24.56072289, 21.34831771,
       23.90251518, 29.57965068,  3.62863499, 33.97923295, 20.44108216,
       19.41302607, 12.12900678, 32.96934482, 17.92195623, 37.70823627,
       16.42244718, 18.56225004, 10.83047322, 17.85169695, 26.86491871,
       21.22185227, 33.14513146, 27.84615362, 21.73234036, 32.50012649,
       30.58471378, 26.13661587, 22.42364198, 23.05702989, 14.98596232,
       28.22041957, 21.16073642, 15.42970226, 17.93515269, 19.83542645,
       20.46882958])

In [30]:
from sklearn.metrics import accuracy_score

In [33]:
acc_score = multi_reg.score(x_test,y_test)
"Acc : {}%".format(int(round(acc_score*100)))

'Acc : 64%'