<a href="https://colab.research.google.com/github/albus25/Regression-And-Classification/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = pd.read_csv("play_data.csv")
data.describe()

       day outlook  temp humidity  wind play
count   14      14    14       14    14   14
unique  14       3     3        2     2    2
top     D2    Rain  Mild   Normal  Weak  Yes
freq     1       5     6        7     8    9

In [2]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

data["outlook"] = le.fit_transform(data["outlook"].astype(str))
data["temp"] = le.fit_transform(data["temp"].astype(str))
data["humidity"] = le.fit_transform(data["humidity"].astype(str))
data["wind"] = le.fit_transform(data["wind"].astype(str))
data["play"] = le.fit_transform(data["play"].astype(str))

In [3]:
x = data[['outlook','temp','humidity','wind']].values
y = data['play'].values

In [4]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [6]:
import math
math.sqrt(len(y_test))

2.23606797749979

In [7]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=1)
knc.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [8]:
y_pred = knc.predict(x_test)

In [9]:
from sklearn.metrics import confusion_matrix,accuracy_score
confusion_matrix(y_test,y_pred)

array([[0, 3],
       [1, 1]])

In [10]:
accuracy_score(y_test,y_pred)

0.2

In [11]:
check_y = knc.predict([[2,0,0,0]])
if check_y == 1:
    print("Yeah")
else:
    print("Naah")

Yeah